{% extends 'main/layout.html' %}
{% block title %}About{% endblock %}
{% block content %}
<div class="dish-container">
    <div class="dish-image">
        <img src="{{ dish.image_url }}" alt="{{ dish.name }}" style="width:800px;height:500px;border-radius: 30%;">
    </div>
    <div class="dish_info">
        <h1>{{ dish.name }}</h1>
        <h2>{{ dish.description }}</h2>
        <h3>Цена: {{ dish.price }} руб.</h3>
        {% for group in user.groups.all %}
            {% if group.name == "Administration" %}
                <a href="{% url 'dish_delete' dish.pk %}"><button class="red-button">Delete</button></a>
                <a href="{% url 'change_dish' dish.pk %}"><button class="blue-button">Change</button></a>
            {% endif %}
        {% endfor %}
        {% for group in user.groups.all %}
            {% if group.name == "Customer" %}

                <a href="{% url 'add_to_cart' dish.pk %}"><button class="green-button">Buy</button></a>
            {% endif %}
        {% endfor %}
    </div>
</div>
    <!-- Ваш текущий код для отображения информации о блюде -->
<div class="reviews">
<!-- Добавьте код для отображения списка отзывов -->
<h2>Отзывы:</h2>
<ul>
  {% for review in reviews %}
    <li>{{ review.text }} ({{ review.user.username }})</li>
  {% empty %}
    <li>Пока нет отзывов.</li>
  {% endfor %}
</ul>

<!-- Добавьте код для формы добавления отзыва -->
<h2>Оставьте свой отзыв:</h2>
<form method="post" action="{% url 'reviews:add_review' %}">
  {% csrf_token %}
  <!-- Добавьте скрытое поле для передачи ID блюда -->
  <input type="hidden" name="dish_id" value="{{ dish.id }}">
  <label for="review_text">Текст отзыва:</label><br>
  <textarea id="review_text" name="review_text" rows="4" cols="50"></textarea><br>
  <input type="submit" value="Добавить отзыв">
</form>
</div>



{% endblock %}

