{% extends 'main/layout.html' %}
{% block title %}Menu{% endblock %}
{% block content %}
<div class="container-dish">
    <!-- Завтрак -->
    <div class="category-breakfast">
        <h2>Завтрак</h2>
        <div class="menu-items">
            {% for dish in breakfast_items %}
            <div class="menu-item">
                <img src="{{ dish.image_url }}" alt="{{ dish.name }}">
                <h3>{{ dish.name }}</h3>
                <p>Цена: {{ dish.price }} руб.</p>
                {% for group in user.groups.all %}
                    {% if group.name == "Administration" %}
                        <a href="{% url 'dish_detail' dish.pk %}"><button class="green-button">Open</button></a>

                    {% endif %}
                {% endfor %}
                {% for group in user.groups.all %}
                    {% if group.name == "Customer" %}
                        <a href="{% url 'dish_detail' dish.pk %}"><button class="green-button">Open</button></a>
                        <a href="{% url 'add_to_cart' dish.pk %}"><button class="green-button">Buy</button></a>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Обед -->
    <div class="category-lunch">
        <h2>Обед</h2>
        <div class="menu-items">
            {% for dish in lunch_items %}
            <div class="menu-item">
                <img src="{{ dish.image_url }}" alt="{{ dish.name }}">
                <h3>{{ dish.name }}</h3>
                <p>Цена: {{ dish.price }} руб.</p>
                {% for group in user.groups.all %}
                    {% if group.name == "Administration" %}
                        <a href="{% url 'dish_detail' dish.pk %}"><button class="green-button">Open</button></a>

                    {% endif %}
                {% endfor %}
                {% for group in user.groups.all %}
                    {% if group.name == "Customer" %}
                        <a href="{% url 'dish_detail' dish.pk %}"><button class="green-button">Open</button></a>
                        <a href="{% url 'add_to_cart' dish.pk %}"><button class="green-button">Buy</button></a>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Ужин -->
    <div class="category-dinner">
        <h2>Ужин</h2>
        <div class="menu-items">
            {% for dish in dinner_items %}
            <div class="menu-item">
                <img src="{{ dish.image_url }}" alt="{{ dish.name }}">
                <h3>{{ dish.name }}</h3>
                <p>Цена: {{ dish.price }} руб.</p>
                {% for group in user.groups.all %}
                    {% if group.name == "Administration" %}
                        <a href="{% url 'dish_detail' dish.pk %}"><button class="green-button">Open</button></a>

                    {% endif %}
                {% endfor %}
                {% for group in user.groups.all %}
                    {% if group.name == "Customer" %}
                        <a href="{% url 'dish_detail' dish.pk %}"><button class="green-button">Open</button></a>
                        <a href="{% url 'add_to_cart' dish.pk %}"><button class="green-button">Buy</button></a>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}