{% extends 'main/layout.html' %}
{% block title %}About{% endblock %}
{% block content %}
<br>
<br>
<br>
  <center><h1>Профиль пользователя</h1></center>
<br>
  <p><strong>Логин:</strong> {{ user.username }}</p>
<br>
<br>
  <p><strong>Email:</strong> {{ user.email }}</p>
<br>
<br>
  {% if user.telegram_chat_id == None %}
  <center><p class="red-border">Телеграм не подключен</p></center>
{% else %}
<center><p class="green-border">Телеграм подключен</p></center>
{% endif %}
<br>
<br>
<br>
  <center><a class="go-button" href="{% url 'change_password' %}">Изменить пароль</a></center>
<br>
<br>
<br>
{% endblock %}


