{% extends 'main/layout.html' %}
{% block title %}Корзина{% endblock %}
{% block content %}
  <div class="cart-container">
    <h2 class="a_main">Корзина</h2>
    <table class="cart-table">
      <thead>
        <tr>
          <th class="a_main">Наименование</th>
          <th class="a_main">Цена</th>
          <th class="a_main">Количество</th>
          <th class="a_main">Итого</th>
          <th class="a_main">Удалить</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart_items %}
        <tr>
          <td class="a_main_2">{{ item.dish.name }}</td>
          <td class="a_main_2">{{ item.dish.price }} руб.</td>
          <td class="quantity-cell">
            <form method="post" action="{% url 'increase_cart_item' item.pk %}">
              {% csrf_token %}
              <button type="submit" class="quantity-button">+</button>
            </form>
            {{ item.quantity }}
            <form method="post" action="{% url 'decrease_cart_item' item.pk %}">
              {% csrf_token %}
              <button type="submit" class="quantity-button">-</button>
            </form>
          </td>
          <td class="a_main_2">{{ item.total_price }} руб.</td>
          <td><a href="{% url 'remove_from_cart' item.pk %}" class="red-button">Удалить</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p class="a_main_2">Общая стоимость: {{ total_price }} руб.</p>
    <a href="{% url 'create_order' %}" class="a_main_2 btn_cart btn-primary">Купить</a>
    <a href="{% url 'menu' %}" class="a_main_2 btn_cart btn-secondary">Продолжить покупки</a>
  </div>
{% endblock %}
