{% extends 'main/layout.html' %}
{% block title %}About{% endblock %}
{% block content %}
<div class="dish-container">
    <div class="dish-image">
        <img src="{{ dish.image_url }}" alt="{{ dish.name }}" style="width:800px;height:500px;">
    </div>
    <div class="dish-content">
        <h1 class="a_main">{{ dish.name }}</h1>
        <br>
        <h2 class="a_main">{{ dish.description }}</h2>
        <br>
        <h3 class="a_main">Цена: {{ dish.price }} руб.</h3>
        <br>
        {% for group in user.groups.all %}
            {% if group.name == "Administration" %}
                <a href="{% url 'dish_delete' dish.pk %}"><button class="dell-button">Удалить</button></a>
                <a href="{% url 'change_dish' dish.pk %}"><button class="blue-button">Изменить</button></a>
            {% endif %}
        {% endfor %}
        {% for group in user.groups.all %}
            {% if group.name == "Customer" %}
                <a href="{% url 'add_to_cart' dish.pk %}"><button class="green-button">Купить</button></a>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}
