{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Contact{% endblock %}
{% block content %}


<div class="about-section">
    <p class="p_about">Добро пожаловать в наш уютный морской ресторан! Мы создали это место, чтобы подарить вам
        незабываемый вкус моря в
        каждом бите. Наши блюда — это настоящее произведение искусства, вдохновленное богатыми традициями морской кухни.

        Мы гордимся свежими и экологически чистыми ингредиентами, которые мы используем в каждом блюде. Наша команда
        опытных поваров страстно работает над созданием меню, которое удивит вас разнообразием вкусов и текстур.</p>
    <p class="p_about">В нашем ресторане вы сможете насладиться не только отличной кухней, но и уютной атмосферой,
        которая создает
        идеальное место для встреч с друзьями и семьей.

        Мы приглашаем вас на увлекательное путешествие в мир морских вкусов и неповторимых впечатлений. Откройте для
        себя магию моря у нас в ресторане и позвольте себе насладиться неповторимым опытом!</p>
</div>
<br>
<center><img src="{% static 'main/img/qqol.png' %}" style="width:1200px; border-radius:20px;"></center>
{% endblock %}

