{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'main/css/about.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,300" rel="stylesheet" type="text/css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Home{% endblock %}</title>


</head>
<body>
<div class="container_header">
  <header>
    <div class="container">
      <div class="d-flex  aling-items-center">
        <a href="{% url 'home' %}" class="logo">Ocean</a>
        <!-- menu -->
        <nav class="midle_header">
          <ul class="d-flex ">
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'menu' %}">Меню</a></li>
            <li><a href="{% url 'contact' %}">Контакты</a></li>
            <li><a href="javascript:void(0)">Отзывы</a></li>
            <li><a href="{% url 'about' %}">О нас</a></li>



          </ul>
        </nav>

        {% if not user.is_authenticated %}
        <div class="log_btn">
        <a href="{% url 'login' %}" class="button">Вход</a>
        <a href="{% url 'register' %}" class="button">Регистрация</a>
        </div>
        {% else %}
        <div class="log_btn">
        <nav class="midle_header">
          <ul class="d-flex ">

            <li>
              <a href="{% url 'contact' %}"><img src="{% static 'main/img/header_menu.avif' %}" alt="mdo" class="header_menu_png"> <span><i class="fa-solid fa-angle-down"></i></span></a>
              <ul class="drop-down">
                {% for group in user.groups.all %}
                {% if group.name == "Administration" %}
                <li><a href="{% url 'add_dish' %}">Добавить блюдо</a></li>
                <li><a href="{% url 'admin_orders' %}">Заказы</a></li>
                <hr>
                <li><a href="{% url 'logout' %}">Выход</a></li>
                {% endif %}
                {% endfor %}
                {% for group in user.groups.all %}
                {% if group.name == "Customer" %}
                <li><a href="{% url 'view_cart' %}">Корзина</a></li>
                <li><a href="{% url 'view_orders' %}">Заказы</a></li>
                <li><a href="{% url 'my_profile' %}">Профиль</a></li>
                <hr>
                <li><a href="{% url 'logout' %}">Выход</a></li>
                {% endif %}
                {% endfor %}
              </ul>
            </li>


          </ul>
        </nav>
        </div>
        {% endif %}
      </div>
    </div>
  </header>
  </div>
  <main>
    {% block content %}
    <h1>Home</h1>
    <h1>Home</h1>
    <h1>Home</h1>
    {% endblock %}
  </main>
<div class="body_container">
  <footer class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icon">
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="{% url 'home' %}">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="{% url 'about' %}">About</a></li>
      <li class="menu__item"><a class="menu__link" href="{% url 'contact' %}">Contact</a></li>

    </ul>
    <p>&copy;2023 Kirill Yerokhin | Made by human</p>
  </footer>
  <div/>
</body>
</html>

