{% load static %}
<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'main/css/about.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,300" rel="stylesheet" type="text/css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>


</head>
<body>
<div class="container_header">
  <header>
    <div class="container">
      <div class="d-flex justify-content-between aling-items-center">
        <a href="" class="logo">logo</a>
        <!-- menu -->
        <nav>
          <ul class="d-flex ">
            <li><a href="javascript:void(0)">Home</a></li>
            <li><a href="javascript:void(0)">About</a></li>
            <li>
              <a href="#">Pages <span><i class="fa-solid fa-angle-down"></i></span></a>
              <!-- drop dowm -->
              <ul class="drop-down">
                <li><a href="javascript:void(0)">page-1</a></li>
                <li><a href="javascript:void(0)">page-2</a></li>
                <li><a href="javascript:void(0)">page-3</a></li>
                <li><a href="javascript:void(0)">page-4</a></li>
              </ul>
            </li>
            <li><a href="javascript:void(0)">services</a></li>
            <li><a href="javascript:void(0)">Blogs</a></li>



          </ul>
        </nav>

        <!-- button -->
        <a href="javascript:void(0)" class="button">Login</a>

      </div>
    </div>
  </header>
  </div>
  <main>
    <h1>About</h1>

  </main>
<div class="body_container">
  <footer class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icon">
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="#">About</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>

    </ul>
    <p>&copy;2021 Nadine Coelho | All Rights Reserved</p>
  </footer>
  <div/>
</body>
</html>

