{% extends 'main/layout.html' %}
{% block title %}Заказы администратора{% endblock %}
{% block content %}
    <h1>Заказы администратора</h1>
    <table>
        <thead>
            <tr>
                <th>Номер заказа</th>
                <th>Описание</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>
                    <ul>
                        {% for item in order.items.all %}
                            <li>{{ item.dish.name }} ({{ item.quantity }} шт.)</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ order.status }}</td>
                <td>
                    <form method="post" action="{% url 'update_order_status' order.id %}">
                        {% csrf_token %}
                        <select name="status">
                            <option value="не готов" {% if order.status == 'не готов' %}selected{% endif %}>Не готов</option>
                            <option value="готово" {% if order.status == 'готово' %}selected{% endif %}>Готово</option>
                            <option value="в пути" {% if order.status == 'в пути' %}selected{% endif %}>В пути</option>
                        </select>
                        <button type="submit">Изменить</button>
                    </form>
                    <form method="post" action="{% url 'delete_order' order.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Удалить заказ</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
