body{
background-color: #fff;
}
.d-flex {
  display: flex;
}
.header_menu_png{
width:42px;
border-radius: 50px;

}
.midle_header{
padding-left: 27%;
}
.aling-items-center {
  align-items: center;
}
.container {
  max-width: 1960px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
.container_header {
  font-family: "Nunito", sans-serif;
  color: #fff;
  background-color: rgb(58, 57, 57);
}
.log_btn{
padding-left: 20%;
}

a {
  text-decoration: none;
  color: inherit;
}
/* header start */
header {
  background-color: #4992ff;

}
header .logo {
  font-size: 40px;
  font-weight: 900;
}
header nav ul {
  list-style: none;
}
header nav > ul > li {
  font-size: 22px;
  padding: 0px 10px;
}
header nav > ul > li a span i {
  font-size: 20px;
  margin-left: 5px;
  vertical-align: middle;
}
header nav > ul > li:hover > a {
  color: rgba(240, 248, 255, 0.595);
}
header .button {
  background-color: #fff;
  padding: 8px 7px;
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  color: black;
  border-radius: 5px;
}
/* ******************************************************* */
/* ***********************drop down ********************** */
.drop-down {
  min-width: 150px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background-color: #5d9eff;
  box-shadow: 0 0 8px rgb(0, 0, 0);
  border-radius: 5px;
  transition: all 0.2s linear;
  opacity: 0;
  visibility: hidden;
}
.drop-down a {
  width: 100%;
  display: inline-block;
  padding: 10px 0 10px 10px;
}
.drop-down a:hover {
  background-color: #82b4ff;
}

/* ******************************************************************* */
/* ***********************drop down hover effect ********************** */
header nav > ul > li:hover .drop-down {
  opacity: 1;
  visibility: visible;
}
/* main */

p {
  text-align: center;
  font-size: 20px;
  margin-top: 18px;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body_container {
  display: flex;
  background: #fff;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 55vh;
}

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 100px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

.category-breakfast,
.category-lunch,
.category-dinner {
    flex: 1; /* Контейнеры займут равные части доступной ширины */
    padding: 20px; /* Добавляет отступы внутри контейнеров */
    border: 1px solid #fff; /* Добавляет границу для разделения контейнеров */
    background-color: #fff; /* Задает фоновый цвет контейнеров */
}
.category-lunch{
    flex: 1; /* Контейнеры займут равные части доступной ширины */
    padding: 20px; /* Добавляет отступы внутри контейнеров */
    border: 1px solid #fff; /* Добавляет границу для разделения контейнеров */
    background-color: #eaf2ff; /* Задает фоновый цвет контейнеров */
}
.menu-items {
    display: flex;
    flex-wrap: wrap; /* Элементы переносятся на новый ряд, если не помещаются */
    align-items: center; /* Выравнивание элементов по центру */
}

.menu-item {
    flex: 0 0 calc(20% - 20px); /* Распределение элементов в 3 столбца (при 3 элементах в ряду) */
    max-width: calc(20% - 20px); /* Максимальная ширина элемента */
    margin: 10px; /* Добавляет отступы между элементами */
    /* Другие стили по вашему выбору, например, цвет фона и высоту *//
}

.menu-item img {
    max-width: 100%; /* Максимальная ширина изображения равна ширине контейнера */
    max-height: 150px; /* Максимальная высота изображения */
    border-radius: 15%;
    /* Другие стили по вашему выбору */
}

.dish-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px;
}

.dish-image {
    flex: 0 0 50%; /* Ширина блока для картинки */
    margin-right: 20px;
}

.dish-image img {
    width: 800px;
    height: 500px;
    border-radius:25%;
}

.dish-content {
    margin-top: 50px;
    flex: 0 0 25%; /* Ширина блока для текста и кнопок */
}

.reviews {
    margin-top: 5px;
    text-align: center; /* Выравнивание отзывов по центру */
}



.contmap{
    padding-left:18%;

}

/* Стиль для .body-container, который центрирует его по центру экрана */
/* Стиль для .body-container */
.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh; /* Используем min-height вместо height */
  background-color: #fff; /* Цвет фона, замените на нужный вам */
  margin-top: 0px; /* Отступ сверху */
  margin-bottom: 0; /* Убираем отступ снизу */
}


/* Стиль для .login-container */
.login-container {
  background-color: #ffffff; /* Цвет фона контейнера с формой */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Тень контейнера */
  text-align: center;
}

/* Стиль для заголовка h1 */
.login-container h1 {
  font-size: 24px;
  margin-bottom: 40px;
  margin-top: 0; /* Убираем отступ сверху для заголовка */
}

/* Стиль для сообщения об ошибке (если есть) */
.login-container p {
  color: blue; /* Цвет текста ошибки */
  margin-bottom: 10px;
}

/* Стиль для .form-group */
.form-group {
  margin-bottom: 25px;
}

/* Стиль для меток (label) */
.form-group label {
  display: block;
  font-weight: bold;
}

/* Стиль для полей ввода (input) */
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Цвет рамки */
  border-radius: 5px;
  outline: none; /* Убирает контур фокуса */
}

/* Стиль для кнопки Login */

.red-button {
  background-color:  #B00000; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста кнопки */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}
/* Стиль для ссылки "Sign up" */
.signup-link a {
  text-decoration: none;
  color: #4caf50; /* Цвет ссылки */
}

/* Стиль для ссылки "Sign up" при наведении */
.signup-link a:hover {
  text-decoration: underline;
}


.container_add_dish {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.container .col-md-6 {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
}



.form-group {
    margin-bottom: 15px;
}



input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select {
    appearance: none;
    background: url("down-arrow.png") no-repeat right center;
    background-size: 20px;
    padding-right: 30px;
}
.green-button {
  background-color: #4caf50; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста кнопки */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}
.green-button {
--c:  #44944A; /* the color*/
color:#004524;
  box-shadow: 0 0 0 .1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background:
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
.green-button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
.blue-button {
  background-color: #4caf50; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста кнопки */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}
.blue-button {
--c:  #3586FF; /* the color*/
color:#255db2;
  box-shadow: 0 0 0 .1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background:
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
.blue-button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}

.dell-button {
  background-color: #4caf50; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста кнопки */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}
.dell-button {
--c:  #B00000; /* the color*/
color:#900020;
  box-shadow: 0 0 0 .1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background:
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
.dell-button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
.green-button-tg{

  color: #fff; /* Цвет текста кнопки */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}
.green-button-tg{
--c:  #FFA500; /* the color*/
color:#44944A;;
}
.green-button-tg:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}

.go-button {
  background-color: #4caf50; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста кнопки */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}
.go-button {
--c:  #FFA500; /* the color*/
color:#D2691E;
  box-shadow: 0 0 0 .1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background:
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
.go-button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}

.btn-link {
    text-decoration: none;
    color: #4caf50;
}

.btn-link:hover {
    text-decoration: underline;
}

.green-border {
    border: 2px solid #44944A; /* Зеленая обводка толщиной 2px */
    border-radius:20px;
    padding: 10px; /* Добавление отступов вокруг текста */
    display: inline-block; /* Это нужно для того, чтобы рамка не расширяла текст на всю ширину */
}
.red-border {
    border: 2px solid #B00000; /* Зеленая обводка толщиной 2px */
    border-radius:20px;
    padding: 10px; /* Добавление отступов вокруг текста */
    display: inline-block; /* Это нужно для того, чтобы рамка не расширяла текст на всю ширину */
}

/* Добавьте этот CSS для улучшения стилей корзины */
.cart-container {
  text-align: center;
  margin: 20px;
  padding-top: 40px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 75px;
}

.cart-table th, .cart-table td {
  padding: 10px;
  border: 1px solid #ccc;

}

.cart-table th {
  background-color: #aeceff;

}

.quantity-cell {
  position: relative;

}

.quantity-button {
  font-size: 18px;
  padding: 5px 10px;
  background-color: #ffae35;
  color: white;
  border: none;
  cursor: pointer;
  border-radius:10px;

}

.remove-link {
  color: red;
  text-decoration: none;

}

.total-price {
  padding-top: 60px;
  font-weight: bold;
  margin-top: 10px;
}

.btn_cart {

  display: inline-block;
  margin: 25px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  background-color: #ffae35;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}
.btn-secondary{
background-color: #71aaff;
}
.btn_cart-secondary {
  background-color: #ccc;
}
.btn-danger{
background-color: blue;
}
/* Стилизация списка заказов */
.order-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Стилизация элемента заказа */
.order-item {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Стилизация изображения заказа */
.order-image {
  max-width: 100px; /* Установите желаемую максимальную ширину изображения */
  max-height: 100px; /* Установите желаемую максимальную высоту изображения */
}

/* Остальные стили могут быть оставлены без изменений */

.container_photo {
  display: flex;
  align-items: center;

}

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.snip1533 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  margin: 35px 10px 10px;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid #d2652d;
}

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}

.snip1533 figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #d2652d;
  content: "\f10e";
  font-family: 'FontAwesome';
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.snip1533 h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}


/* Demo purposes only */



/* Стили для контейнера с отзывами */
.reviews-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Стили для каждого отзыва */
.review-item {
  width: calc(33.33% - 20px); /* 3 отзыва в ряд с небольшим отступом между ними */
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px;
}

/* Стили для создания отступа между отзывами в ряду */
.review-item:nth-child(3n) {
  margin-right: 0; /* Убрать правый отступ для последнего отзыва в ряду */
}

/* Медиа-запрос для адаптивности */
@media (max-width: 767px) {
  .review-item {
    width: 100%; /* Отзывы занимают всю ширину на мобильных устройствах */
  }
}

.rating-area {
	overflow: hidden;
	width: 265px;
	margin: 0 auto;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 53px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}


.rating-result {
	width: 265px;
	margin: 0 auto;
}
.rating-result span {
	padding: 0;
	font-size: 32px;
	margin: 0 3px;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
	content: '★';
}
.rating-result > span.active {
	color: gold;
	text-shadow: 1px 1px #c60;
}

.contact_number{content:'Hi';position:absolute;bottom:-15px;right:-20px;background:#50505a;color:#fff;width:320px;padding:16px 4px 16px 0;border-radius:6px;font-size:13px;box-shadow:10px 10px 40px -14px #000}
.span_number{margin:0 5px 0 5px}

.form_contact{
width:340px;
height:440px;
background:#e6e6e6;
border-radius:8px;
box-shadow:0 0 40px -10px #000;margin:calc(30vh - 220px) auto;
padding:20px 30px;max-width:calc(100vw - 40px);
box-sizing:border-box;font-family:'Montserrat',sans-serif;
position:relative
}

.input_contact{
width:100%;
padding:10px;
box-sizing:border-box;
background:none;
outline:none;
resize:none;
border:0;
font-family:'Montserrat',sans-serif;
transition:all .3s;
border-bottom:2px solid #bebed2
}
.input_contact:focus{
border-bottom:2px solid #78788c
}

.button_contact{float:right;padding:8px 12px;margin:8px 0 0;font-family:'Montserrat',sans-serif;border:2px solid #78788c;background:0;color:#5a5a6e;cursor:pointer;transition:all .3s}
.button_contact:hover{background:#78788c;color:#fff}
.p_about{
font-family: 'Playfair Display', serif;
}
.a_main_1{
color:green;
font-family: 'Libre Baskerville', serif;
}
.a_main_2{
font-family: 'Libre Baskerville', serif;
}
.a_main_3{
font-family: 'Libre Baskerville', serif;
font-size: 20px;
}
.a_main_4{
font-family: 'Libre Baskerville', serif;
font-size: 16px;
}
.a_main{
font-family: 'Lora', serif;
font-family: 'Playfair Display', serif;
}
.about-section {

  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}







