/* Стили для всей страницы */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Стили для заголовка */
.header {
    background-color: #333; /* Темный фон */
    color: #fff; /* Белый текст */
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Стили для навигационного меню слева */
.header-left ul {
    list-style-type: none;
    margin: 0;
    padding: 5;
    font-size: 20px; /* Размер шрифта */
}

.header-left ul li {
    display: inline;
    margin-right: 20px;
}

.header-left ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Стили для кнопок "Login" и "Signup" */
.header-right a {
    text-decoration: none;
    padding: 10px 20px; /* Подходящие отступы для кнопок */
    font-family: Arial, sans-serif; /* Задаем шрифт */
    font-size: 20px; /* Размер шрифта */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
    border: 2px solid transparent; /* Обводка кнопок (изначально прозрачная) */
    border-radius: 5px; /* Закругленные углы */
    margin-left: 20px;
    transition: all 0.3s ease; /* Плавные переходы */
    color: #fff; /* Белый цвет текста до наведения */
}

.header-right a.login,
.header-right a.signup {
    text-decoration: none;
    padding: 10px 20px; /* Подходящие отступы для кнопок */
    font-family: Arial, sans-serif; /* Задаем шрифт */
    font-size: 20px; /* Размер шрифта */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
    border: 2px solid transparent; /* Обводка кнопок (изначально прозрачная) */
    border-radius: 5px; /* Закругленные углы */
    margin-left: 20px;
    transition: all 0.3s ease; /* Плавные переходы */
    color: #fff; /* Белый цвет текста до наведения */
}

.header-right a.login:hover,
.header-right a.signup:hover {
    background-color: #fff; /* Фон при наведении на кнопку */
    color: #000; /* Черный текст при наведении на кнопку */
    border-color: #fff; /* Обводка при наведении на кнопку */
}

.header-right a.signup {
    background-color: #ffc107; /* Желтая обводка для "Signup" */
    color: #fff; /* Белый текст для "Signup" */
    border-color: #ffc107; /* Желтая обводка для "Signup" */
}




.body-container {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 20px auto; /* Центрируем контейнер по горизонтали и добавляем отступы */
    margin-bottom: 150px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}
input[type="email"],
input[type="text"],
input[type="password"] {
    width: calc(100% - 10px);  /* Устанавливаем ширину 100% */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

button.green-button {
    background-color: #4caf50; /* Зеленый цвет кнопки */
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
button.red-button {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
button.blue-button {
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
button.green-button:hover {
    background-color: #45a049; /* Зеленый цвет кнопки при наведении */
}

.signup-link {
    margin-top: 15px;
    color: #777;
}

.signup-link a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;

}

.profile-menu {
    position: relative;
    display: inline-block;
}

.avatar-link {
    text-decoration: none;
    position: relative; /* Позиционируем элемент относительно его обычного положения */
    margin-bottom: 0; /* Убираем отступы */
    padding-bottom: 0; /* Убираем внутренние отступы */
}

.avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    border: 3px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.menu-item {
    text-align: center;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.2s;

}

.menu-item:hover {
    background-color: #f5f5f5;
}

.menu-divider {
    border-top: 1px solid #ccc;
    margin: 4px 0;
    padding: 0;
}

.header-right .dropdown-menu a.menu-item {
    transition: color 0.3s ease; /* Добавляем плавный переход для цвета текста */
}

.header-right .dropdown-menu a.menu-item:hover {
    background-color: transparent; /* Убираем фон при наведении на кнопку */
    color: grey; /* Черный текст при наведении на кнопку */
    border-color: transparent; /* Убираем обводку при наведении на кнопку */
}



.container {
    display: flex;
    width: 100%;
    justify-content: center;

    height: 100vh;
}

.form-control-dish {
    width: 500px;
}

.text-center {
    text-align: center;
}



.category-breakfast,
.category-lunch,
.category-dinner {
    flex: 1; /* Контейнеры займут равные части доступной ширины */
    padding: 20px; /* Добавляет отступы внутри контейнеров */
    border: 1px solid #ccc; /* Добавляет границу для разделения контейнеров */
    background-color: #f5f5f5; /* Задает фоновый цвет контейнеров */
}
.category-lunch{
    flex: 1; /* Контейнеры займут равные части доступной ширины */
    padding: 20px; /* Добавляет отступы внутри контейнеров */
    border: 1px solid #ccc; /* Добавляет границу для разделения контейнеров */
    background-color: grey; /* Задает фоновый цвет контейнеров */
}
.menu-items {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку при необходимости */

    /* Другие стили по вашему выбору, например, отступы между элементами */
}

.menu-item {
    flex: 1; /* Элементы будут равномерно расширяться внутри контейнера .menu-items */
    max-width: 300px; /* Максимальная ширина элемента */
    margin: 10px; /* Добавляет отступы между элементами */
    /* Другие стили по вашему выбору, например, цвет фона и высоту */
}
.menu-item img {
    max-width: 100%; /* Максимальная ширина изображения равна ширине контейнера */
    max-height: 150px; /* Максимальная высота изображения */
    border-radius: 15%;
    /* Другие стили по вашему выбору */
}


.dish-container {
    display: flex;
    align-items: center;
    padding: 20px; /* Расстояние между элементами */
}

.dish-image {
    width: 42px;
    height: 42px;
    border-radius: 50%;

   }

.dish_info {
    margin-left: 50px;
    margin-left: 1250px; /* Отступ слева от фотографии */

}

.reviews{
padding-top:400px;
padding-bot:200px;
}
